*.pdb

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build*

# Qt unit tests
target_wrapper.*


# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

# Protobuf
*.pb.*


share/proto/cpp/
3rdParty/*



bin/Qt*
bin/*.dll
bin/*.exe
bin/*.ini
bin/*.txt


bin/LOG/*
mAn.exp
mAn.lib
mAn
core
# python
__pycache__
*.py[cod]
*$py.class

build*/

